table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  mat-card{
    max-width: 90%;
    margin: 10px auto;
  }

  .ges
  {
    width: 200px;
  }

  .gris .mat-cell{
   color: #D1D0D0;
  }


